body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
}

.content .panel {
  margin-right: 25px;
  min-width: 45vw;
  height: 80vh;
  border: 1px solid black;
  overflow: scroll;
  padding: 15px;
}

.content .panel:last-child {
  margin-right: 0;
}
